<footer role="contentinfo">
  <section class="footer" align="center">
    <%= typeof content != "undefined" ? content : "" %>
    <a href="https://publicsource.org/" target="_blank">
      <img src="../assets/img/ps-logo.svg" id="ps-logo"
      alt="Public Source logo which links to PublicSource website (opens in a new tab)" />
    </a>
    <a href="https://www.unabridgedpress.com/" target="_blank">
      <img src="../assets/img/UnPressLogoWhite.png" id="up-logo"
      alt="Unabridged Press logo which links to Unabridged Press website (opens in a new tab)"/>
    </a>
    <p style="margin-top: 1rem;">
      Produced by PublicSource and Unabridged Press.<br />
      This project has been made possible with the support of the FISA Foundation.
    </p>
  </section>
</footer>
