<footer role="contentinfo">
  <div class="footer" align="center">
    <%= typeof content != "undefined" ? content : "" %>
    <p style="margin-bottom: 1rem;">Produced by PublicSource and Unabridged Press.</p>
    <a href="https://publicsource.org/" target="_blank">
      <img src="https://ps-apps-assets.s3.amazonaws.com/power-of-place/logo.svg"
      alt="Public Source logo which links to PublicSource website" />
    </a>
    <a href="/">
      <img src="../assets/img/UnPressLogoWhite.png"
      alt="Unabridged Press logo whcih links to Unabridged Press website"/>
    </a>
  </div>
</footer>
