<h2 style="margin-bottom: 2rem;">The Latest</h2><a name="main-content" aria-hidden="true"></a>

<!-- BEGIN STORIES -->
<!-- row 1 -->
<section class="row">
  <article class="one-third column">
    <a href="future-of-accessible-transportation-depends-on-advocacy-for-civil-rights-of-people-with-disabilities" aria-label="First person: The future of accessible transportation depends on passionate advocacy for the civil rights of people with disabilities">
      <img src="assets/img/John_6641-alt.jpg" alt="Photograph of essay author John Tague, a white man in sitting in a power wheelchair. He's on the sidewalk facing the camera, wearing a purple sweater and wide hat."/>
      <div class="index-headline">
        First person: The future of accessible transportation depends on passionate advocacy for the civil rights of people with disabilities
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">John Tague</div>
    </a>
  </article>
  <article class="one-third column">
    <a href="disability-justice-is-not-just-ramps-and-curb-cuts-it-spans-health-education-environment-more" aria-label="First person: Disability justice is not just ramps and curb cuts; it spans health, education, the environment and more.">
      <img src="assets/img/IMG_7112-alt.jpg" alt="Photograph of essay author Jessica Benham standing outside with Downtown Pittsburgh in the background. She a white woman wearing a yellow mask and a bright pink shirt."/>
      <div class="index-headline">
        First person: Disability justice is not just ramps and curb cuts; it spans health, education, the environment and more.
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">Jessica Benham</div>
    </a>
  </article>
  <article class="one-third column">
    <a href="we-are-experiencing-a-cultural-reset-and-we-must-include-deaf-and-disability-culture-in-discussions-of-change" aria-label="First person: We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change">
      <img src="assets/img/Fran_6605_new-alt.jpg" alt="Photograph of essay author Fran Flaherty, a Filipino woman wearing sunglasses and a black jumpsuit. She's lying in the grass with small yellow wildflowers around her."/>
      <div class="index-headline">
        First person: We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">Fran Flaherty</div>
    </a>
  </article>
</section>

<div class="spacer" aria-hidden="true"></div>

<!-- row 2 -->
<section class="row">
  <article class="two-thirds column">
    <a href="pittsburgh-disability-advocate-shares-list-of-access-wins-and-losses" aria-label="A Pittsburgh disability advocate shares her list of access wins and losses">
      <img src="assets/img/IMG_8141.JPG" alt="Head-on photograph of the outside of the Andy Warhol Museum. In the windows are large blue and yellow prints of Andy Warhol’s cow prints. The entrance has both stairs and a ramp. In the foreground, someone skateboards down the sidewalk."/>
      <div class="index-headline">
        A Pittsburgh disability advocate shares her list of access wins and losses
      </div>
      <div class="index-headline-border" style="width:25%"></div>
    </a>
      <div class="index-byline">Alisa Grishman and Emma Folts</div>
  </article>
  <article class="one-third column">
    <a href="technological-advances-mean-more-possibilities-for-people-with-disabilities-i-ground-my-work-in-making-tech-useful" aria-label="First person: Technological advances mean more possibilities for people with disabilities. I ground my work in making tech useful.">
      <img src="assets/img/eric_and_nick-alt.jpg" alt="Photograph of brothers Nick and Eric Sinagra standing outside Nick's house. They're both smiling at the camera. Nick is sitting in a power wheelchair, and Eric is standing beside him."/>
      <div class="index-headline">
        First person: Technological advances mean more possibilities for people with disabilities. I ground my work in making tech useful.
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">Eric and Nick Sinagra</div>
    </a>
  </article>
</section>

<center style="margin-top: 1rem;">
    <a href="/stories" target="_blank" aria-label="more stories">
      <h2 class="more-stories">See more stories</h2>
    </a>
</center>
