<h2 style="margin-bottom: 2rem;">The Latest</h2><a name="main-content" aria-hidden="true"></a>

<!-- BEGIN STORIES -->
<!-- row 1 -->
<section class="row">
  <article class="one-third column">
    <a href="podcast-episode-four-three-people-with-disabilities-talk-about-how-disability-affected-their-faith" aria-label="Podcast episode 4: Three people with disabilities talk about how disability affected their faith">
      <img src="assets/img/Kumar_Temple-alt.jpg" alt="Photograph of two Brown men stand with their arms around each other in front of a Hindu temple. Both are facing the camera. Puneet stands on the right with a big smile on his face."/>
      <div class="index-headline">
        Podcast episode 4: Three people with disabilities talk about how disability affected their faith
      </div>
      <div class="index-headline-border"></div>
      <!-- <div class="index-byline">Catherine Getchell</div> -->
    </a>
  </article>
  <article class="two-thirds column">
    <a href="despite-ada-exemption-pittsburgh-houses-of-worship-highlight-accessibility-efforts-and-shortfalls" aria-label="Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls">
      <img src="assets/img/worship_1.jpg" alt="Photograph of a catholic priest delivering a sermon. He's inside a church in front of his congregation. In the background, a woman interprets his sermon in American Sign Language along with him."/>
      <div class="index-headline">
        Despite ADA exemption, Pittsburgh-area houses of worship highlight accessibility efforts—and remaining shortfalls
      </div>
      <div class="index-headline-border" style="width:25%"></div>
    </a>
      <div class="index-byline">Meg St-Esprit</div>
  </article>
</section>

<div class="spacer" aria-hidden="true"></div>

<!-- row 2 -->
<section class="row">
  <article class="two-thirds column">
    <a href="without-tech-designed-for-people-with-disabilities-we-might-not-have-these-inventions" aria-label="Without tech designed for people with disabilities, we might not have these inventions">
      <img src="assets/img/segway_pittsburgh.jpg" alt="Wide shot photograph of a line of people riding segways. They're crossing a bridge in Pittsburgh. Behind them is Downtown Pittsburgh."/>
      <div class="index-headline">
        Without tech designed for people with disabilities, we might not have these inventions
      </div>
      <div class="index-headline-border" style="width:25%"></div>
    </a>
      <div class="index-byline">Francesca Dabecco</div>
  </article>
  <article class="one-third column">
    <a href="when-will-the-americans-with-disabilities-act-evolve-to-the-digital-age" aria-label="First person: When will the Americans with disabilities act evolved to the digital age?">
      <img src="assets/img/catherine_2_alt.jpg" alt="Photograph of essay author Catherine Getchell, a blind woman wearing a blue suit. She is standing in her backyard with her guide dog."/>
      <div class="index-headline">
        First person: When will the Americans with Disabilities Act evolve to the digital age?
      </div>
      <div class="index-headline-border"></div>
      <div class="index-byline">Catherine Getchell</div>
    </a>
  </article>
</section>

<center style="margin-top: 1rem;">
    <a href="/stories" target="_blank" aria-label="more stories">
      <h2 class="more-stories">See more stories</h2>
    </a>
</center>
