<section id="pre-footer">
  <!-- modify this form HTML and place wherever you want your form -->
  <h3>Share comments or accessibilty concerns.</h3>

  <form
    action="https://formspree.io/mlepwkvp"
    method="POST"
  >
  <label>
    <textarea name="message"></textarea>
  </label><br />
    <label style="margin-top: -2rem; text-align: left;">
      Email:<br />
      <input type="text" name="_replyto">
    </label>

    <!-- your other form fields go here -->

    <button type="submit">Send</button>
  </form>
</section>
