.footer {
  .mallory();
  background-color: @highlight-blue;
  width: 100%;
  box-sizing: border-box;
  padding: 4rem;
  font-size: 1.75rem;
  text-align: center;
}

.footer img {
  height: 4rem;
  margin: 1rem 2.5rem;
}
