<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>About | ADA at 30: Accessibility in Pittsburgh</title>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- START ABOUT CONTENT -->
    <main class="container" id="about-page">
      <div class="row">
        <div class="eight columns offset-by-two">
          <h1>About this project</h1>
        </div>
      </div>
    </main>
    <%= t.include("partials/_story.html", {'story': archieml.aboutPage}) %>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>

  </body>
</html>
