<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>When will the Americans with Disabilities Act evolve to the digital age? | ADA at 30: Accessibility in Pittsburgh</title>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <div class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 15, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">When will the Americans with Disabilities Act evolve to the digital age?</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">First person essay by Catherine Getchell</div>
      </div>
    </div>

    <!-- LEAD IMAGE -->
    <div class="ui-full-width" id="lead-image">
      <img src="/assets/img/catherine_1.jpg"
      alt="Photograph of essay author Catherine Getchell, a blind woman wearing a blue suit.
      She is in her backyard sitting on a wooden bench. Her guide dog is sitting in front of her.">
      <div id="lead-caption">
        Catherine Getchell and her guide dog in her backyard in Squirrel Hill (Photo by Jay Manning/PublicSource)
      </div>
    </div>

    <%= t.include("partials/_story.html", {'story': archieml.digitalAge}) %>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
