<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN LANDING PAGE CONTENT -->

    <!-- INTRO VIDEO -->
    <div class="ui-full-width">
      <video width="101%" height="55%" controls="controls" preload="none"
      alt="An introductory video featuring a number of speakers with different disabilities.">
        <source src="assets/video/ADA_Voices_Video.mp4" type="video/mp4" autostart="false">
        Your browser does not support this video.
      </video>
    </div>

    <main class="container">

      <div class="spacer"></div>

      <!-- begin intro text -->
      <center id="intro" class="eight columns offset-by-two">
        <h1>Introduction Text</h1>
        <h3 id="intro-desc">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
        </h3>
      </center>

      <div class="spacer" style="clear:both;"></div>

      <h2 style="margin-bottom: 2rem;">The Latest</h2>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <div class="row">
        <article class="one-third column">
          <a href="/digital-age.html">
            <img src="assets/img/catherine_2.JPG"
            alt="Photograph of essay author Catherine Getchell, a blind woman wearing a blue suit. She is standing in her backyard with her guide dog."/>
            <div class="index-headline">
              First person: When will the Americans with Disabilities Act evolve to the digital age?
            </div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Catherine Getchell</div>
        </article>
        <article class="two-thirds column">
          <a href="/voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility.html">
            <img src="assets/img/voting_1.JPG"
            alt="Photograph of a row of ballot scanning machinee. Image links to full story."/>
            <div class="index-headline">
              Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Matt Petras</div>
        </article>
      </div>

      <div class="spacer"></div>

      <!-- row 2 -->
      <div class="row">
        <article class="twelve columns">
          <a href="/introduction.html">
            <img src="https://picsum.photos/1500/700" />
            <div class="index-headline" style="width:25%">
              Introduction Video
            </div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Ryan Loew, Unabridged Press, various</div>
        </article>
      </div>

    </main>

    <!-- first blue quote box -->
    <aside class="ui-full-width">
      <div class="index-quote">
          <h3 class="index-quote-text">
            “This is a quote from one of our pieces, or something that
            provides additional context for the impact of the ADA.”
          </h3>
      </div>
    </aside>
    <div class="spacer"></div>

    <main class="container">

      <!-- row 3 -->
      <div class="row">
        <article class="two-thirds column">
          <a href="/">
            <img src="https://picsum.photos/1200/720" />
            <div class="index-headline">Video Title</div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
        </article>
        <div class="one-third column">
          <aside class="index-quote" style="margin: 0">
            <h3 class="index-quote-text">
              "There's another shout out or pull quote that goes here.
              Maybe we also use this for social media."
            </h3>
          </aside>
        </div>
      </div>

      <div class="spacer"></div>
    </main>
    <!-- END STORIES -->
    <!-- END LANDING PAGE CONTENT -->

    <!-- PRE-FOOTER CONTACT FORM
    <%= t.include("partials/_preFooter.html") %>-->

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <script data-account="ZEQU4bRA7Q" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>
