<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN LANDING PAGE CONTENT -->

    <!-- INTRO VIDEO -->
    <figure class="ui-full-width video-container">
      <video controls preload="metadata" poster="assets/img/thumbnail-1.png" controlslist="nodownload">
        <source src="assets/video/ADA_Voices_Video.mp4" type="video/mp4" autostart="false">
        <track src="assets/transcripts/intro_en.vtt" kind="subtitles" srclang="en" label="English" default>
        Your browser does not support this video.
      </video>
   </figure>

   <aside class="ui-full-width index-quote" style="margin-top: 0; padding:2.5rem 2rem;">
       <div class="userway-callout">
         <img src="assets/img/userway.png" alt="userway icon"/>
         <span class="userway-info">
           <h3>
             Click this icon in the bottom right corner or use your keyboard tab key to use our accessibility menu.
             With it, you can customize text, increase page contrast, listen to page content and find other accessibility features.
           </h3>
         </span>
         <div style="clear:both"></div>
        </div>
   </aside>

    <main class="container">

      <div class="spacer"></div>

      <!-- begin intro text -->
      <section>
        <center id="intro" class="ten columns offset-by-one">
          <h1>ADA at 30: Accessibility in Pittsburgh</h1>
          <h3 id="intro-desc">
            The Americans with Disabilities Act was signed into law on July 26, 1990.
            How has it changed life for Pittsburghers with disabilities?
            And what progress still needs to be made? Here’s what they have to say.
            <!-- begin userway text -->
          </h3>
        </center>
      </section>

      <div style="clear:both"></div>

      <div class="spacer" style="clear:both;"></div>

      <h2 style="margin-bottom: 2rem;">The Latest</h2>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <div class="row">
        <article class="one-third column">
          <a href="digital-age">
            <img src="assets/img/catherine_2.JPG"
            alt="Photograph of essay author Catherine Getchell, a blind woman wearing a blue suit. She is standing in her backyard with her guide dog."/>
            <div class="index-headline">
              First person: When will the Americans with Disabilities Act evolve to the digital age?
            </div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Catherine Getchell</div>
        </article>
        <article class="two-thirds column">
          <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility">
            <img src="assets/img/voting_1.JPG"
            alt="Photograph of a row of ballot scanning machinee. Image links to full story."/>
            <div class="index-headline">
              Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Matt Petras</div>
        </article>
      </div>

      <div class="spacer"></div>

      <!-- row 2 -->
      <div class="row">
        <article class="twelve columns">
          <a href="podcast">
            <img src="https://picsum.photos/1800/600" alt="Placeholder image that links to full story"/>
            <div class="index-headline">
              Podcast: From the Source (Season 2 Recap)
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Josie, Unabridged Press</div>
        </article>
      </div>

    </main>

    <!-- first blue quote box -->
    <aside class="ui-full-width">
      <div class="index-quote">
          <h3 class="index-quote-text">
            “I obviously had to get one of the people working the polling location
            to help me...it was just kind of an extra step that I would have
            rather been able to do independently.”
          </h3>
      </div>
    </aside>
    <div class="spacer"></div>

    <main class="container">

      <!-- row 3 -->
      <div class="row">
        <article class="one-third column">
          <a href="introduction">
            <img src="https://picsum.photos/1800/1200" alt="placeholder image that links to full story"/>
            <div class="index-headline">
              Introduction Video
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">PublicSource & Unabridged Press</div>
        </article>
        <div class="two-thirds column">
          <aside class="pre-footer" style="margin: 0">
            <%= t.include("partials/_preFooter.html") %>
          </aside>
        </div>
      </div>

      <div class="spacer"></div>
    </main>
    <!-- END STORIES -->
    <!-- END LANDING PAGE CONTENT -->

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
