<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN LANDING PAGE CONTENT -->

    <!-- INTRO VIDEO -->
    <article class="video-container">
      <div style="padding:52.71% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/435890220?texttrack=en&color=CD5B45&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen name="Introduction Video" title="Video: Faces of the law: The Americans with Disabilities Act read by those it protects"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
    </article>

    <main class="container"><a name="main-content"></a>

      <div class="spacer"></div>

      <!-- begin intro text -->
      <section class="row" role="article">
        <center id="intro" class="ten columns offset-by-one">
          <h1>The Americans with Disabilities Act was signed into law on July 26, 1990.</h1>
          <h3 id="intro-desc">
            For this anniversary project, we set out to learn: How has the ADA changed life for Pittsburghers with disabilities? And what progress still needs to be made 30 years later? Here’s what we found out.
          </h3>
        </center>
      </section>

      <article class="row">
        <div class="ten columns offset-by-one userway-callout">
          <h3 class="userway-info">
            Click the Accessibility Menu in the bottom right, or use your keyboard tab key, to customize text and contrast, listen to page content and find other accessibility features.
          </h3>
        </div>
      </section>

      <div class="spacer" style="clear:both;"></div>

      <h2 style="margin-bottom: 2rem;">The Latest</h2>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <div class="row">
        <article class="one-third column">
          <a href="podcast-episode-one-how-does-accessibility-in-pittsburgh-compare-to-other-areas" aria-label="links to podcast and transcript">
            <img src="assets/img/jsjpick_crawl.jpg" alt="Archival photograph of two disability rights activists from March 12, 1990. They are climbing the 83 steps up capitol hill as a demonstration to urge Congress to pass the ADA. The photograph is shot from a low angle on a lower step. In front, an activist is sitting and using their hands to push themself up the stairs backwards. In the background, another activist is crawling on his hands and knees. In the very background, a photographer is taking their photo. Photography copyright Tom Olin."/>
            <div class="index-headline">
              Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?
            </div>
            <div class="index-headline-border"></div>
          </a>
        </article>
        <article class="two-thirds column">
          <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility" aria-label="links to full story">
            <img src="assets/img/voting_1.JPG"
            alt="Photograph of a row of ballot scanning machines."/>
            <div class="index-headline">
              Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Matt Petras</div>
        </article>
      </div>

      <div class="spacer"></div>

      <!-- row 2 -->
      <div class="row">
        <article class="twelve columns">
          <a href="faces-of-the-law-the-americans-with-disabilities-act-in-pittsburgh-read-by-those-it-protects" aria-label="links to video, transcript, and accompanying story">
            <img src="assets/img/video_thumbnail.jpg" alt="A full screen video thumbnail. The thumbnail is of three rows of four squares, twelve total. Each square has one or a small group of people inside it. They are all individuals from Pittsburgh who have a variety of disabilities. Some are with their families. Some are signing. One has a bow and arrow, one has a cane, one is a a wheelchair, and one has a dog."/>
            <div class="index-headline">
              Faces of the law: The Americans with Disabilities Act read by those it protects
            </div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
            <div class="index-byline">Jennifer Szweda Jordan</div>
        </article>
      </div>

    </main>

    <!-- first blue quote box -->
    <aside class="ui-full-width">
      <div class="index-quote">
        <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility" aria-label="links to the story this quote is from">
          <h3 class="index-quote-text">
            “I obviously had to get one of the people working the polling location
            to help me...it was just kind of an extra step that I would have
            rather been able to do independently.”
          </h3>
        </a>
      </div>
    </aside>
    <div class="spacer"></div>

    <main class="container">

      <!-- row 3 -->
      <div class="row">
        <div class="twelve columns">
          <section style="margin: 0">
            <%= t.include("partials/_preFooter.html") %>
          </section>
        </div>
      </div>

      <div class="spacer"></div>
      <%= t.include("partials/_userway.html") %>
    </main>
    <!-- END STORIES -->
    <!-- END LANDING PAGE CONTENT -->

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
  </body>
</html>
