<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="A Pittsburgh disability advocate shares her list of access wins and losses | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/academias-narrow-gates-people-with-disabilities-should-not-be-deterred-from-higher-education">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/Dylan.jpg">
   <meta name="twitter:description" content="Like many other systems in the United States, higher education is not designed for the majority of the population. It is not designed for people of color; it is not designed for low-income folks; and it is not designed for people with disabilities.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="A Pittsburgh disability advocate shares her list of access wins and losses">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/academias-narrow-gates-people-with-disabilities-should-not-be-deterred-from-higher-education">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/Dylan.jpg">
   <meta property="og:description" content="Like many other systems in the United States, higher education is not designed for the majority of the population. It is not designed for people of color; it is not designed for low-income folks; and it is not designed for people with disabilities.">
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <title>A Pittsburgh disability advocate shares her list of access wins and losses</title>

  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <div class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 22, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">A Pittsburgh disability advocate shares her list of access wins and losses</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">First-person essay by Alisa Grishman and Emma Folts</div>
      </div>
    </div>

    <!-- LEAD IMAGE -->
    <div class="ui-full-width" id="lead-image">
      <img src="/assets/img/voting_3.jpg"
      alt="Photograph of Alisa Grisham outside on the sidewalk with the street behind her. She is in her wheelchair and wearing a T-shirt that says “not your inspiration” and below it is a silhouette of a person in a wheelchair.">
      <div id="lead-caption">
        “I’d give the city six out of 10, pretty good but not perfect,” says Alisa Grishman, founder of Access Mob Pittsburgh, on the accessibility within Pittsburgh. Grishman serves as a member of Peduto’s advisory group for Complete Streets. (Photo by Ryan Loew/PublicSource)
      </div>
    </div>

    <%= t.include("partials/_story.html", {'story': archieml.winsAndFails}) %>

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
