<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>

  <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Podcast | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/podcast">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/jsjpick_crawl_org.jpg">
   <meta name="twitter:description" content="“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Podcast">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/podcast">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/jsjpick_crawl_org.jpg">
   <meta property="og:description" content="“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN STORY GRID CONTENT -->

    <main class="container">

      <div class="spacer" aria-hidden="true"></div>

      <!-- begin intro text -->
      <div class="row">
        <section class="about-text ten columns offset-by-one">
          <h4>“Let the shameful wall of exclusion come tumbling down.” As the Americans with Disabilities Act of 1990 was signed, President George H.W. Bush spoke those words. If you live long enough, you’ll develop a disability—if you don’t already have one. The 30-year-old act promises that despite that, you’ll easily cross streets, hold a job and live as independently as possible. How’s that working for us?</h4>

            <h4>This five-part podcast brings  Pittsburgh-area people with disabilities finding their place in towns, stores and faith communities. The program is produced by PublicSource in collaboration with Unabridged Press and supported by The FISA Foundation. The Center for Media Innovation at Point Park University provided technical assistance.</h4>

            <h4>
              <b>Subscribe on:</b> <a href="https://podcasts.apple.com/us/podcast/ada-at-30-accessibility-in-pittsburgh/id1522903903" target="_blank" aria-label="apple podcasts (opens in a new tab)">Apple Podcasts,</a>
              <a href="https://pca.st/cg90btkk" target="_blank" aria-label="pocket casts (opens in a new tab)">Pocket Casts,</a>
              <a href="https://radiopublic.com/ada-at-30-accessibility-in-pittsb-6LV45o" target="_blank" aria-label="RadioPublic (opens in a new tab)">RadioPublic,</a>
              <a href="https://adaat30.libsyn.com/rss" target="_blank" aria-label="RSS (opens in a new tab)">RSS,</a>
              <a href="https://open.spotify.com/show/4iEOcAoDNg8Mvo0MlHpR90" target="_blank" aria-label="Spotify (opens in a new tab)">Spotify,</a>
              <a href="https://www.stitcher.com/podcast/year-of-the-humanities/ada-at-30-accessibility-in-pittsburgh?refid=stpr" target="_blank" aria-label="Stitcher (opens in a new tab)">Stitcher</a>
            </h4>
        </section>
        <HR class="ten columns offset-by-one">
      </div>
      <!-- BEGIN PODCASTS -->
      <!-- row 1 -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 13, 2020
          </div>
        </div>
        <div class="row"><a name="main-content" aria-hidden="true"></a>

          <!-- PODCAST EPISODE ONE -->
          <div class="twelve columns">
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </a></div>
        </div>

        <section class="row" id="podcast-info">
          <%= t.include("partials/_podcastOne.html") %>
        </section>
      </section>

      <HR class="ten columns offset-by-one">

      <!-- PODCAST EPISODE TWO -->
      <section class="container" id="story-intro" style="overflow-x: hidden;">
        <div class="row">
          <div id="story-date">
              July 15, 2020
          </div>
        </div>
        <div class="row">
          <div class="ten columns"><a name="main-content" aria-hidden="true"></a>
            <h2 style="padding-top: 1rem; border: 0;">Podcast episode 2: Pittsburgh lawyer shares how the ADA equips people with disabilities to fight for their rights</h2>
            <div class="index-headline-border" style="width:33%; margin-top: -1rem;"></div>
          </div>
        </div>

        <section class="row" id="podcast-info">
          <%= t.include("partials/_podcastTwo.html") %>
        </section>
      </section>

    </main>

    <div class="spacer" aria-hidden="true"></div>
    <!-- END PODCAST CONTENT -->

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
    <script data-account="ZEQU4bRA7Q" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>
