<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <!-- imports main stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <section class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 13, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">How does the Pittsburgh area hold up to other areas in ADA compliance?</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">Josie, Unabridged Press</div>
      </div>

      <!-- PODCAST INFO -->
      <section class="row" id="podcast-info">
        <div class="one-third column">
          <img src="assets/img/podcast_1.jpg" alt="podcast album art"/>
        </div>

        <div class="two-thirds column" id="podcast-desc">
          <!-- PODCAST -->
          <iframe style="border: none;"
          src="//html5-player.libsyn.com/embed/episode/id/14923145/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/3a59a9/"
          height="100" width="100%" scrolling="no" id="podcast"
          allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
          Season 1 of "From the Source" set out to hear about life in Pittsburgh during the coronavirus pandemic. We heard from business owners, students, parents and others. Then, we shifted attention to the crisis of racism and police brutality against Black people in America — a civil rights movement happening during a health pandemic. Now, we're ending season 1 and would like to hear from you as we plan for season 2. What do you want us to cover? Who should we feature? What stories should we report? Please take this survey today!
        </div>
      </section>
    </section>

    <section>
        <h3 style="text-align: center;">Transcript</h3>
    </section>

    <%= t.include("partials/_story.html", {'story': archieml.compliancePodcast}) %>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
