<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <title>ADA at 30: Accessibility in Pittsburgh</title>

  <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="Stories | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/stories">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/video_thumbnail.jpg">
   <meta name="twitter:description" content="The Americans with Disabilities Act was signed into law on July 26, 1990. For this anniversary project, we set out to learn: How has the ADA changed life for Pittsburghers with disabilities? And what progress still needs to be made 30 years later? Here’s what we found out.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="Stories">
   <meta property="og:site_name" content="ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/stories">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/video_thumbnail.jpg">
   <meta property="og:description" content="The Americans with Disabilities Act was signed into law on July 26, 1990. For this anniversary project, we set out to learn: How has the ADA changed life for Pittsburghers with disabilities? And what progress still needs to be made 30 years later? Here’s what we found out.">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- BEGIN STORY GRID CONTENT -->

    <main class="container" id="story-grid"><a name="main-content" aria-hidden="true"></a>

      <div class="spacer" aria-hidden="true"></div>

      <!-- begin intro text -->
      <center id="intro">
        <h1>All Stories</h1>
      </center>

      <div class="spacer" aria-hidden="true"></div>

      <!-- BEGIN STORIES -->
      <!-- row 1 -->
      <div class="row">
        <article class="one-half column">
          <a href="voters-with-disabilities-are-accustomed-to-obstacles-how-will-covid-19-impact-accessibility" aria-label="Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?">
            <img src="assets/img/voting_1.JPG" alt="Photograph of a row of ballot scanning machines."/>
              <div class="index-headline">
                Voters with disabilities are accustomed to obstacles. How will COVID-19 impact accessibility?
              </div>
              <div class="index-headline-border" style="width:25%"></div>
            </a>
            <div class="index-byline">Matt Petras</div>

            <a href="faces-of-the-law-the-americans-with-disabilities-act-in-pittsburgh-read-by-those-it-protects" aria-label="Faces of the law: The Americans with Disabilities Act read by those it protects">
              <img src="assets/img/video_thumbnail.jpg" alt="Composite video thumbnail of twelve different people with disabilites. Some are with their families. Some are signing. One has a bow and arrow, one has a cane, one is a a wheelchair, and one has a dog."/>
              <div class="index-headline">
                Faces of the law: The Americans with Disabilities Act read by those it protects
              </div>
              <div class="index-headline-border"></div>
            </a>
            <div class="index-byline">Jennifer Szweda Jordan</div>
        </article>

        <article class="one-half column">
          <a href="podcast-episode-one-how-does-accessibility-in-pittsburgh-compare-to-other-areas" aria-label="Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?">
            <img src="assets/img/jsjpick_crawl.jpg" alt="Black and white photograph of two disability rights activists. They are climbing the 83 steps up capitol hill. The photograph is shot from a low angle. In front, an activist is sitting and using their hands to push themself up the stairs backwards. In the background, another activist is crawling on his hands and knees."/>
            <div class="index-headline">Podcast episode 1: How does accessibility in the Pittsburgh region compare to other areas?</div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
        </article>
      </div>

      <div class="spacer" aria-hidden="true"></div>

      <!-- row 2 -->
      <!--
      <div class="row">
        <article class="one-third column">
          <a href="/">
              <img src="https://picsum.photos/550/400" />
            <div class="index-headline">Story Headline</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://picsum.photos/550/400" />
            <div class="index-headline">Story Headline that someone made very
              long because we have to account for that</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="one-third column">
          <a href="/">
            <img src="https://picsum.photos/550/400" />
            <div class="index-headline">Story Headline of a reasonable length</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
      </div>

    <div class="spacer"></div>-->

      <!-- row 3 -->
      <!--
      <div class="row">
        <article class="one-half column">
          <a href="/">
            <img src="https://picsum.photos/1200/720" />
            <div class="index-headline">Video Title</div>
            <div class="index-headline-border" style="width:25%"></div>
          </a>
        </article>
        <article class="three columns">
          <a href="/">
            <img src="https://picsum.photos/550/400" />
            <div class="index-headline">Story Headline that someone made very
              long because we have to account for that</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
        <article class="three columns">
          <a href="/">
            <img src="https://picsum.photos/550/400" />
            <div class="index-headline">Story Headline that someone made very
              long because we have to account for that</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Journa List</div>
        </article>
      </div>

      <div class="spacer"></div>-->

      <!-- row 4 -->
      <!--
      <div class="row">
        <article class="one-third column">
          <a href="test_page.html">
              <img src="https://picsum.photos/550/706" />
            <div class="index-headline">Personal Essay that someone wrote for us</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Essayist & Jorna List</div>
        </article>
        <article class="one-third column">
          <a href="test_page.html">
              <img src="https://picsum.photos/550/706" />
            <div class="index-headline">Personal Essay that someone wrote for us</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Essayist & Jorna List</div>
        </article>
        <article class="one-third column">
          <a href="test_page.html">
              <img src="https://picsum.photos/550/706" />
            <div class="index-headline">Personal Essay that someone wrote for us</div>
            <div class="index-headline-border"></div>
          </a>
            <div class="index-byline">Essayist & Jorna List</div>
        </article>
      </div>-->
    </main>
    <!-- END STORIES -->

    <div class="spacer" aria-hidden="true"></div>
    <!-- END STORY GRID CONTENT -->

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
    <script data-account="ZEQU4bRA7Q" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>
