<!doctype html>
<html lang="en-US">
  <head>
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>

    <!-- imports main stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <section class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 13, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">The heart of the law: A reading of the Americans with Disabilities Act by people with disabilities in the Pittsburgh region</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">Jennifer Szweda Jordan, Unabridged Press</div>
      </div>
    </section>

    <!-- VIDEO -->
    <a name="main-content">
      <figure class="video-container" aria-describedby="UPDATE ME">
        <div style="padding:52.71% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/435890220?texttrack=en&color=CD5B45&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      </figure>
    </a>

    <!-- TRANSCRIPT ANCHOR -->
    <section id="transcript-anchor">
      <a href="#video-transcript" aria-label="skip to video transcript">
        <h3>Jump to video transcript</h3>
      </a>
    </section>

    <%= t.include("partials/_story.html", {'story': archieml.readingTheADA}) %>

    <a name="video-transcript"><h3 style="text-align: center;">Transcript</h3></a>
    <%= t.include("partials/_story.html", {'story': archieml.heartOfTheLawCaptions}) %>
    <div class="spacer"></div>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
