<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_analytics.html") %>
    <!-- BEGIN TWITTER SUMMARY CARD -->
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:title" content="We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change | ADA at 30: Accessibility in Pittsburgh">
   <meta name="twitter:site" content="@PublicSourcePA">
   <meta name="twitter:url" content="https://adapittsburgh.com/we-are-experiencing-a-cultural-reset-and-we-must-include-deaf-and-disability-culture-in-discussions-of-change">
   <meta name="twitter:image" content="https://adapittsburgh.com/assets/img/Fran_6605_new.jpg">
   <meta name="twitter:description" content="We need to acknowledge that it is often not the disability itself that makes a person vulnerable, but rather the rationing of critical services, lack of healthcare supports, inadequate funding for activities of daily living, isolation and discrimination that puts people with disabilities in situations of police brutality.">

   <!-- Social sharing meta -->
   <meta property="og:type" content="article">
   <meta property="og:title" content="We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change">
   <meta property="og:site_name" content="We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change | ADA at 30: Accessibility in Pittsburgh">
   <meta property="og:url" content="https://adapittsburgh.com/we-are-experiencing-a-cultural-reset-and-we-must-include-deaf-and-disability-culture-in-discussions-of-change">
   <meta property="og:image" content="https://adapittsburgh.com/assets/img/Fran_6605_new.jpg">
   <meta property="og:description" content="We need to acknowledge that it is often not the disability itself that makes a person vulnerable, but rather the rationing of critical services, lack of healthcare supports, inadequate funding for activities of daily living, isolation and discrimination that puts people with disabilities in situations of police brutality.">
    <!-- imports all header info -->
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <title>We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change | ADA at 30: Accessibility in Pittsburgh</title>

  </head>

  <body>
    <!-- imports global header -->
    <%= t.include("partials/_main-nav.html") %>

    <!-- STORY INFO -->
    <div class="container" id="story-intro" style="overflow-x: hidden;">
      <div class="row">
        <div id="story-date">
            July 24, 2020
        </div>
      </div>
      <div class="row">
        <div class="ten columns">
          <h1 id="story-headline">We are experiencing a cultural reset, and we must include Deaf and Disability culture in our discussions of change</h1>
        </div>
      </div>
      <div class="row">
          <div id="story-byline">First-person essay by Fran Flaherty</div>
      </div>
    </div>

    <!-- LEAD IMAGE -->
    <div class="ui-full-width" id="lead-image">
      <img src="/assets/img/Fran_6605_new.jpg"
      alt="Photograph of essay author Fran Flaherty, a Filipino woman wearing sunglasses and a black jumpsuit. She's lying in the grass with small yellow wildflowers around her.">
      <div id="lead-caption">
        Fran Flaherty lies in the grass outside her Hampton Township home. (Photo by Ryan Loew/PublicSource)
      </div>
    </div>

    <%= t.include("partials/_story.html", {'story': archieml.flaherty}) %>

    <!-- Contact form -->
    <section role="contact form" style="margin-top: 2rem;">
      <div class="inline">
        <%= t.include("partials/_preFooter.html") %>
      </div>
    </section>

    <!-- Footer -->
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_analytics.html") %>
    <%= t.include("partials/_userway.html") %>
  </body>
</html>
